# PyCity Schools Analysis

- Your analysis here
  
---

In [29]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [30]:
MIN_PASSING_SCORE = 70

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [3]:
# total number of schools
school_count = school_data_complete['school_name'].nunique()
school_count

15

In [4]:
# Calculate the total number of students
student_count = school_data_complete['student_name'].count()
student_count

39170

In [5]:
# total budget                           
total_budget = school_data['budget'].sum()
total_budget

24649428

In [6]:
# average math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [7]:
# average reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [8]:
# percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
# percentage of students who passed reading
passing_reading_count = (school_data_complete['reading_score'] >= 70).sum() / student_count * 100
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

0.21905913547311723

In [10]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete [(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)].count()['student_name'] 
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_df = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_count],
    "% Passing Reading": [passing_reading_count],
    "% Overall Passing Rate": [overall_passing_rate]})

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("${:,}".format)
# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"$39,170","$24,649,428.00",78.985371,81.87784,29370,85.805463,65.172326

## School Summary

In [12]:
# school name and type
school_types = school_data.set_index(['school_name'])['type']
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [13]:
# Calculate the total student count per school
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [48]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete["budget"]
print(per_school_budget)
per_school_capita = per_school_budget / school_count
print(per_school_capita)

0        1910635
1        1910635
2        1910635
3        1910635
4        1910635
          ...
39165    1043130
39166    1043130
39167    1043130
39168    1043130
39169    1043130
Name: budget, Length: 39170, dtype: int64
0        127375.666667
1        127375.666667
2        127375.666667
3        127375.666667
4        127375.666667
             ...
39165     69542.000000
39166     69542.000000
39167     69542.000000
39168     69542.000000
39169     69542.000000
Name: budget, Length: 39170, dtype: float64

In [44]:
averages_by_school_df = school_data_complete.groupby("school_name").mean(numeric_only=True)
averages_by_school_df

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [25]:
# Calculate the average test scores per school
per_school_math = averages_by_school_df["math_score"]
print(per_school_math, type(per_school_math))
per_school_reading = averages_by_school_df["reading_score"]
print(per_school_reading)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64 <class 'pandas.core.series.Series'>
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [32]:
# Calculate the number of students per school with math scores of 70 or higher
passing_math_s = school_data_complete["math_score"] >= MIN_PASSING_SCORE
passing_math_s

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [38]:
per_school_pass_math_count = school_data_complete[passing_math_s].groupby("school_name").count()["Student ID"]
per_school_pass_math_count

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [40]:
# Calculate the number of students per school with reading scores of 70 or higher
passing_reading_s = school_data_complete["reading_score"] >= MIN_PASSING_SCORE
per_school_pass_reading_count = school_data_complete[passing_reading_s].groupby("school_name").count()["Student ID"]
per_school_pass_reading_count

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [41]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]

students_passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [56]:
# Calculate Percentages of students passing math, reading, and overall
per_school_passing_math = student_data_complete.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = student_data_complete.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = students_passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

NameError: name 'student_data_complete' is not defined

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
school_summary_df = pd.DataFrame({"School Type": school_types,
      "Total Students": per_school_counts,
      "Total School Budget": total_budget,
      "Per School Capita": per_school_capita,
      "Average Math Score": students_passing_math,
      "Average Reading Score": students_passing_reading,
      "% Passing Math": per_school_passing_math,
      "% Passing Reading": per_school_passing_reading,
      "% Overall Passing Rate": overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

## Highest-Performing Schools (by % Overall Passing)

In [1]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
school_summary_df = school_summary_df.sort_values(["% Overall Passing Rate"], ascending=False).head(5)

NameError: name 'school_summary_df' is not defined

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
school_summary_df = school_summary_df.sort_values(["% Overall Passing Rate"], ascending=True).head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = ninth_graders.groupby(["school_name"])["math_score"]
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"]
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"]
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th": ninth_grader_math_scores,
      "10th": tenth_grader_math_scores,
      "11th": eleventh_grader_math_scores,
      "12th": twelfth_grader_math_scores})

grade_summary_df[["9th", "10th", "11th", "12th"]]

# Minor data wrangling
math_scores_by_grade.index.name = None

#Displaying Math Scores
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"]
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"]
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"]
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th": ninth_grade_reading_scores,
      "10th": tenth_grader_reading_scores,
      "11th": eleventh_grader_reading_scores,
      "12th": twelfth_grader_reading_scores})

reading_scores_by_grade[["9th", "10th", "11th", "12th"]]

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')
school_summary_df = school_summary_df.reset_index()
school_summary_df["Spending Ranges (Per Student)"] = pd.cut(school_summary_df["Per Student Budget"], spending_bins, labels=group_names)
grouped_spend_df = school_summary_df.groupby(["Spending Ranges (Per Student)"])              
spending_summary_df = grouped_spend_df.mean()

school_spending_df[["Average Math Score",
                    "Average Reading Score",
                    "% Passing Math",
                    "% Passing Reading",
                    "% Overall Passing Rate"]]

school_spending_df

In [ ]:
# Assemble into DataFrame
spending_summary_df = pd.DataFrame({
        "Spending Math Scores": spending_math_scores,
        "Spending Reading Scores": spending_reading_scores,
        "Spending Passing Math": spending_passing_math,
        "Spending Passing Reading": spending_passing_reading,
        "Overall Passing Spending": overall_passing_spending
})

# Display results
spending_summary_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary = school_summary_df.reset_index()
per_school_summary["School Size"] = pd.cut(school_summary_df["Total Students"], size_bins, labels=group_names)
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`

grouped_size_df = school_summary_df.groupby(["School Size"])   
size_summary = grouped_size_df.mean()

size_summary[["Average Math Score",
                "Average Reading Score",
                "% Passing Math",
                "% Passing Reading",
                "% Overall Passing Rate"]]
# Display results
size_summary

## Scores by School Type

## Scores by School Size

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
school_summary_df = school_summary_df.reset_index()
grouped_type_df = school_summary_df.groupby(["School Type"])              
type_summary = grouped_type_df.mean()

# Display results
type_summary